.container{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border: 5px black solid;
    align-items:center;
    gap: 5px;
    width: 80vw;
    position: absolute;
    right: 10%;
    
    & .title{
        display: inline-block;
        background-color: rgb(91, 91, 91);
        padding: 5px 300px;
        font-size: 2rem;
    }
}

.subcontainer{
    width: 80vw;
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
}